@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --secondary: #CCFBEF;
  --primary: #115E56;
  --captionGray: #667085;
  --text-up: #15B79F;
  --text-table-header: #667085;
  --table-header-bg: #F9FAFB;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */


body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}


/* table {
} */

table {
  border-spacing: 0;
  border-collapse: separate;
  border-radius: 10px;
  border: 0.0625em solid lightgray;

}

tbody {
  border-bottom: 0.0625em solid lightgray;
}

th {
  border-bottom: 0.0625em solid lightgray;
  border-right: 0.0625em solid lightgray;
  padding: 0.125em 0.25em;
  font-size: 0.875em;
}

thead {
  background-color: var(--table-header-bg);
  border-radius: 0.625em;
}

thead th {
  color: var(--text-table-header);
  font-weight: 500;
}

tfoot {
  color: gray;
}

tfoot th {
  font-weight: normal;
}