@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --secondary: #CCFBEF;
  --primary: #115E56;
  --caption-gray: #667085;
  --caption-gray-light: #8A94A6;
  --text-up: #15B79F;
  --text-drop: #F04438;
  --primary-dark: #134E48;
  --text-table-header: #667085;
  --table-header-bg: #F9FAFB;
  --card-shadow-medium: 0 0 22px 0 rgba(0, 0, 0, 0.04);
  --card-border-color: rgba(0, 0, 0, 0.15);
  --table-header-background: #F9FAFB;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */


body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}


table {
  border-spacing: 0;
  border-collapse: separate;
  border-radius: 10px;

}


th {
  
  background-color: var(--table-header-background);
  border-bottom: 1px solid #e0e0e0;

  font-size: 0.875em;
}

thead tr {
  overflow: hidden;
  border-radius: 0.625em;
}

thead th {
  color: var(--text-table-header);
  font-weight: 500;
}

tfoot {
  color: gray;
}

tfoot th {
  font-weight: normal;
}